html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

.section1 {
    background-color: rgb(245, 240, 230);
    max-width: 100%;
}

.section2 {
    color: white;
    background-image: url(https://www.ucsd.edu/_resources/img/bg-orbs-1.jpg);
    background-position: center;
    background-size: cover;
    max-width: 100%;
}

.section3 {
    background-color: rgb(245, 240, 230);
    max-width: 100%;
}

.section1,
.section2,
.section3 {
    padding: 10px;
}

h2 {
    scroll-margin-top: 140px;
}

div {
    display: inline-block;
    max-width: 100%;
}

.navbar {
    position: sticky;
    top: 0;
    background-color: white;
    width: 100%;
    height: auto;
    padding-left: 10px
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul img {
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0;
}

li {
    display: inline-block;
}

li a {
    display: block;
    color: #182b49;
    text-align: center;
    font-size: 27px;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: white;
    background-color: #182b49;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    max-height: 500px;
    width: 100%;
}

.one,
.two,
.three,
.four {
    color: white;
    background-color: #182b49;
    padding: 10px;
    max-height: 500px;
    overflow-y: auto;
    box-sizing: border-box;
}

@media screen and (max-width: 800px) {
    ul li a {
        display: none;
    }

    ul li img {
        max-width: 75%;
        padding-top: 35px;
    }

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 20px;
    }

    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}